<!DOCTYPE html>
<html>
<head>
    <title>Traffic Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        img {
            width: 100%;
            border: 1px solid #ddd;
            padding: 5px;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>

<body>

<h1>Traffic Dashboard</h1>

<div class="grid">

<div>
<h3>Hourly Analysis</h3>
<img src="/static/hourly_analysis.png">
</div>

<div>
<h3>Severity Analysis</h3>
<img src="/static/severity_analysis.png">
</div>

<div>
<h3>Day Analysis</h3>
<img src="/static/day_analysis.png">
</div>

<div>
<h3>Traffic Zone Analysis</h3>
<img src="/static/Traffic_Zone_Analysis.png">
</div>

<div>
<h3>Rush Hour Analysis</h3>
<img src="/static/rush_hour_analysis.png">
</div>

<div>
<h3>Time of Day Analysis</h3>
<img src="/static/Time_of_day_analysis.png">
</div>

</div>

</body>
</html>
